.gedan-detail,.gedan-detail .scroll{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background:#f2f3f4;
		z-index: 10;
	}
	 .top-menu{
		position: fixed;
		top: 0;
		left:0;
		width: 100%;
		height: .8rem;
		line-height: .8rem;
		color: #fff;
		z-index: 20;
	}
	 .top-menu .name{
		font-size: .35rem;
	
	}
	 .top-menu .back{
		padding: 0 .2rem;
	}
	 .top-menu span{
		display: inline-block;
		vertical-align: top;
		font-size: .4rem;
	}
	.gedan-detail .top{
		width: 100%;
		height: 5.62rem;
		position: relative;
	}
	.gedan-detail .top img{
		display: inline-block;
		height: 100%;
		width: 100%;
	}
	.gedan-detail .top .title{
		position: absolute;
		bottom: 1rem;
		left: .4rem;
		color: #fff;
		font-size: .32rem;
		font-weight: 200;
		width: 100%;
	}
	.gedan-detail .top .title .playcount{
		margin-top: .2rem;
	}
	.musiclist{
		position: relative;
		top: -.4rem;
		border-radius: .2rem;
		background: #f2f3f4;
	}
	.musiclist .list{
		display: flex;

	}
	.musiclist  .l-num{
		display: inline-block;
		width: .8rem;

		text-align: center;
	}
	.musiclist  .l-num span{
		font-size: .4rem;
	}
	.musiclist .item{
		flex: 1;
		
		font-size: .3rem;
		min-width:0;
		padding-top: .1rem ;
		border-bottom: 0.01rem solid rgba(147,153,159,0.2);
	}
	.musiclist .playAll{
		height: .8rem;
		line-height: .8rem;
	}
	.musiclist .playAll-txt{
		
		padding: 0;
	}
	.musiclist ul .list .l-num{
		padding: .1rem 0;
		font-size: .2rem;
		margin: auto;
	}
	.musiclist ul .list .l-num span{
		font-size: .3rem;
		color: gray;
		
	}
	.musiclist .playAll-txt span{
		font-size: .2rem;
		vertical-align: top;
		color: rgb(147,158,159);
	}
	.musiclist .item .singer{
		font-size: .2rem;
		
		padding: .1rem 0;

	}
	
	.musiclist .item .music-title .alia{
		color: rgb(147,158,159);
		vertical-align: top;
	}
	/*loading特效*/
	.sk-circle {
      margin: 120px auto;
      width: 40px;
      height: 40px;
      position: relative; }
      .sk-circle .sk-child {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; }
      .sk-circle .sk-child:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
                animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
      .sk-circle .sk-circle2 {
        -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
                transform: rotate(30deg); }
      .sk-circle .sk-circle3 {
        -webkit-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
                transform: rotate(60deg); }
      .sk-circle .sk-circle4 {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      .sk-circle .sk-circle5 {
        -webkit-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
                transform: rotate(120deg); }
      .sk-circle .sk-circle6 {
        -webkit-transform: rotate(150deg);
            -ms-transform: rotate(150deg);
                transform: rotate(150deg); }
      .sk-circle .sk-circle7 {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      .sk-circle .sk-circle8 {
        -webkit-transform: rotate(210deg);
            -ms-transform: rotate(210deg);
                transform: rotate(210deg); }
      .sk-circle .sk-circle9 {
        -webkit-transform: rotate(240deg);
            -ms-transform: rotate(240deg);
                transform: rotate(240deg); }
      .sk-circle .sk-circle10 {
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg); }
      .sk-circle .sk-circle11 {
        -webkit-transform: rotate(300deg);
            -ms-transform: rotate(300deg);
                transform: rotate(300deg); }
      .sk-circle .sk-circle12 {
        -webkit-transform: rotate(330deg);
            -ms-transform: rotate(330deg);
                transform: rotate(330deg); }
      .sk-circle .sk-circle2:before {
        -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s; }
      .sk-circle .sk-circle3:before {
        -webkit-animation-delay: -1s;
                animation-delay: -1s; }
      .sk-circle .sk-circle4:before {
        -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s; }
      .sk-circle .sk-circle5:before {
        -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s; }
      .sk-circle .sk-circle6:before {
        -webkit-animation-delay: -0.7s;
                animation-delay: -0.7s; }
      .sk-circle .sk-circle7:before {
        -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s; }
      .sk-circle .sk-circle8:before {
        -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s; }
      .sk-circle .sk-circle9:before {
        -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s; }
      .sk-circle .sk-circle10:before {
        -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s; }
      .sk-circle .sk-circle11:before {
        -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s; }
      .sk-circle .sk-circle12:before {
        -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s; }

    @-webkit-keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0); }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1); } }

      @keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0); }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1); } }

        .parent{
            width: 100px;
            height: 100px;
            border: 0px solid red;
            position: absolute;

            text-align: center;

            left:0;
            right:0;
            top: 0;
            bottom: 0;
            margin: auto;
     }